.search {
  background-color: #2b3566;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 40px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.search__p {
  color: #9da5d1;
}

.search h2 {
  font-size: 1.5em;
}

.search__container {
  display: flex;
  gap: 0.5rem;
}

.search__container__input,
.search__container__button {
  padding: 0.6rem;
  border-radius: 3px;
  border: none;
  color: #2b3566;
  font-size: 0.9rem;
  text-align: center;
}

.search__container__button {
  background-color: #0e1129;
  cursor: pointer;
}

.search__container__input {
  border: 2px solid #0e1129;
}

@media (max-width: 768px) {
  .search h2 {
    font-size: 1.4em;
  }

  .search__p {
    font-size: 1em;
  }
}
